body {
	margin: 25px;
	background-color: rgb(0,0,128);
}

h1{
	font-weight: bold;
	color: white;
}

h2{
	font-weight: bold;
	color: white;
}
#submit{font-size: 30px; background-color:green; color:white;}

#restart{font-size: 30px; background-color:red; color:white;}

label{
	color: white;
	font-size: 15px;
}

input[type="radio"]{
	content: '';
	background: $color1;
	border-radius: 100%;
	border: 1px solid darken($color1, 25%);
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	top: -0.2em;
	margin-right: 1em; 
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}

div{
	display: inline-block;
}	

h5{
	color: white;
	text-align: center;
	vertical-align: middle;
	padding: 0.1%;
	border: 0.5px solid white;
	width: 250px;
	height: 20px;
	margin: 20px auto;
}
