body {

    margin: 0px;
}

.container {
    background-image: url("/images/mortalitygradient.jpg");
}

.options {
    flex-direction: column;
}

.navigation label {
    background: rgba(219, 202, 208);
}

.navigation label:hover {
    background: rgba(219, 202, 208, 0.877);
}

h1{
    font-size: 180px;
    color: rgb(255, 223, 252);
    }

h2{
	font-size: 23px;
}

h3{
	/*color: #faa7bb;*/
    color: #d6afb8;
	text-align: center;
    font-family: "Archivo Black";
    font-size: 21px;
    margin-top: none;
}

label.radio {
    width: auto;
}

input[type="radio"]:checked + label.radio {
/*background-color: #dda6b3;*/
background-color: #d498a5f8;
}

h5{
	color: rgb(245, 223, 255);
	text-align: center;
	vertical-align: middle;
	padding: 0.1%;
	border: 0.5px solid rgb(245, 223, 255);
	width: 300px;
	height: 20px;
	margin: 20px auto;
    font-family: "Archivo Black"
}