body {

    margin: 0px;
}

.container {
    background-image: url("/images/mortalitygradient.jpg");
}

.options {
    flex-direction: column;
}

.navigation label {
    background: rgb(219, 202, 208);
}

.navigation label:hover {
    background: rgba(219, 202, 208, 0.877);
}

h1{
    font-size: 180px;
    color: rgb(245, 223, 255);
    }

h2{
	font-size: 25px;
}

label.radio {
    width: 200px;
}

input[type="radio"]:checked + label.radio {
background-color: #d498a5f8;
}