body {

    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #e3ceb878;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    white-space: nowrap;
}

.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 860px;
    justify-content: center;
	margin: 20px 0px;
    text-align: center;
	justify-content: center;
}

.option {
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    /*background: beige;*/
    border-radius: 8px;
    text-align: center;
	justify-content: center;
}

.option > div {
    display: flex; 
    flex-basis: calc(50%);  
    justify-content: center;
    flex-direction: column;
}

.option-container {
display: inline-block;
width: 100%; 
box-sizing: border-box;
padding: 8px;
text-align: center;
}

/*.questions-container {
    border: 2px solid rgba(186, 112, 28, 0.181);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(234, 212, 193);
    text-align: center;
} */

.question-block {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 10px;
}

.navigation label {
    display: flex;
    padding: 1em;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 5px;
}

h1{
    font-weight: bold;
    font-family: 'Archivo Black';
    text-align: center;
	justify-content: center;
    font-style: normal;
    line-height: 0.5;
    animation: slide-right 10s linear infinite;
    width: 100%;
    white-space: nowrap;
    position: relative;
    margin-top: 70px
    }

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

h2{
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: "Archivo Black";
}

#submit, #restart {
    font-size: 20px;
    padding: 15px 30px;
    border: border-box;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: serif;
	text-align: center;
}

#submit {
    background-color: rgb(95, 189, 90);
    color: white;
    font-family: "Archivo Black";
}

#restart {
    background-color: rgb(222, 80, 80);
    color: white;
    font-family: "Archivo Black";
}

#submit:hover {
    background-color: #4CAF50;
}

#restart:hover {
    background-color: #c33131;
}

#submit:focus, #restart:focus {
    outline: none;
}

#submit:active,
#submit:checked {
    background-color: #3a8648;
    border: 2.5px solid #000000;
}

#restart:active,
#restart:checked {
    background-color: #e44f4f;
    border: 2.5px solid #000000;
}

label{
    color: rgb(45, 103, 72);
    font-size: 15px;
    text-align: center;
}

input[type="radio"]{
    display: none;
}

label.radio {
    display: inline-block;
    height: 25px;
    border-radius: 15px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    margin: 5px;
}

input[type="radio"]:checked + label.radio {
    color: black;
    }

.navbar {
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    float: left;
    font-family: "Archivo Black";
}

.navbar a,
.navbar .dropbtn {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: "Archivo Black";
    color:rgb(95, 189, 90)
}

.navbar a:hover,
.navbar .dropdown:hover .dropbtn {
    background-color: #474747;
    color: rgb(255, 255, 255);
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar .dropdown {
    float: left;
}

.navbar .dropdown .dropbtn {
    cursor: pointer;
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar .dropdown-content {
    top: 100%;
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(188, 86, 86, 0.2);
    z-index: 1;
}

.navbar .dropdown-content a {
    top: 100%;
    float: none;
    color: rgb(240, 240, 240);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content {
    min-width: 160px;
    width: 100%;
}

.navbar .dropdown-content a:hover {
    background-color: #54718f;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.content {
    padding-top: 60px
}

.correct-answer {
    background-color: #4CAF50;
    border: 2.5px solid #000000;
    color: white;
}

.incorrect-answer {
    background-color: #e44f4f;
    border: 2.5px solid #8b0000;
    color: white;
}