<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Practice Quiz</title>
    <link rel = "stylesheet" href = "../css/about.css">
  </head>
  <body>
  <%- include ('navbar.ejs') %>
    <section class="about-us">
      <div class="about">
        <img src="../images/globe.png" class="pic" />
        <div class="text">
          <h2>About Us</h2>
          <h5>A Quiz for a <span>Cause</span></h5>
          <p>The main purpose of our website is for people to use our website to solve quizzes and learn about facts about the world.
				Everytime you solve a question a certain amount of groceries will be donated to the United Nations so that does in need will
				have access to these donations.</p>
        </div>
      </div>
    </section>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dela+Gothic+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dela+Gothic+One&family=Wix+Madefor+Display:wght@400..800&display=swap" rel="stylesheet">        
  </body>
</html>