<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Practice Quiz</title>
	<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
    <link rel="stylesheet" href="../css/about.css">
  </head>
  <body>
    <%- include ('navbar.ejs') %>
    <section class="about-us">
      <div class="about">
        <img src="../images/globe.png" class="pic" />
        <div class="text">
          <h2>About Us</h2>
          <h5>A Quiz for a <span>Cause</span></h5>
          <p>
            The main purpose of our website is for people to use our website to solve quizzes and learn about facts about the world.
            Every time you solve a question, a certain amount of groceries will be donated to the United Nations so that those in need will
            have access to these donations.
          </p>
          <p>
            <strong>Informed decision-making</strong> can lead to more effective policies and actions addressing global challenges such as poverty or inequality, and I hope that through the website we will get one step closer to this goal.
          </p>
        </div>
      </div>
    </section>
    <section class="sources-section">
	  <div class="sources">
		<h3>Sources of Our Quizzes</h3>
		<ul>
		  <li><a href="https://www.cia.gov/the-world-factbook/" target="_blank">The World Factbook - CIA</a></li>
		  <li><a href="https://www.oecd-ilibrary.org/statistics" target="_blank">OECD Statistics</a></li>
		  <li><a href="https://ourworldindata.org/" target="_blank">Our World in Data</a></li>
		</ul>
	  </div>
	</section>

  </body>
</html>
