<html>
<head>
    <title>Income Quiz</title>
	<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
</head>
<body onload="checkCookie()">
    <%- include ('navbar.ejs') %>

    <div class="container">
        <h1 style="margin-top: 60px;">World Income Quiz</h1>
    
        <%- include ('question template.ejs', {data: 0}) %>
		
<h5>Source: OECD Statistics<br>The data is from 2020&ndash;2021</h5>

<br>

        <div class="button-container">
            <input style="margin-right: 16px" type = "submit" value = "Submit" id = "submit">
            <input type = "submit" value = "Restart" id = "restart">
        </div>
		
		</div>
	

        <script src = "../scripts/jquery-3.7.1.min.js"></script>
        <script src="../json/ectotal.json"></script>
        <script src="../scripts/income quiz.js"></script>
		<script src="../scripts/quiz.js"></script>
		<script src="../scripts/submit.js"></script>
		<script src="../scripts/cookie.js"></script>
<link rel = "stylesheet" href = "../css/Income quiz.css">
<link rel = "stylesheet" href = "../css/quiz.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dela+Gothic+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dela+Gothic+One&family=Wix+Madefor+Display:wght@400..800&display=swap" rel="stylesheet">
    
</body>
</html>
