<html>
<head>
    <title>Practice Quiz</title>
</head>
<body onload="checkCookie()">
    <%- include ('navbar.ejs') %>

    <div class="container" style="margin-top: 60px;">
        <h1 style="margin-top: 60px;">World Income Quiz</h1>
    
        <%- include ('question template.ejs', {data: 0}) %>
		
<h5>Source: The World Factbook by the CIA</h5>

<br>

        <div class="button-container">
            <input style="margin-right: 16px" type = "submit" value = "Submit" id = "submit">
            <input type = "submit" value = "Restart" id = "restart">
        </div>
	
<link rel = "stylesheet" href = "../css/Income quiz.css">
        <script src = "../scripts/jquery-3.7.1.min.js"></script>
        <script src="../scripts/ectotal.json"></script>
        <script src="../scripts/ectotal.js"></script>
        <script src="../scripts/income quiz.js"></script>
		<script src="../scripts/submit.js"></script>
		<script src="../scripts/cookie.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">

</body>
</html>
