<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Literacy Rate Quiz</title>
    </head>
    <body>
        <%- include ('navbar.ejs') %>
    
        <div class="container" style="margin-top: 60px;">
            <h1 style="margin-top: 60px;">Literacy Rate Quiz</h1>

            <%- include ('ab question template.ejs') %>
    <br>

            <div class="button-container">
                <input style="margin-right: 16px" type = "submit" value = "Submit" id = "submit">
                <input type = "submit" value = "Restart" id = "restart">
            </div>
    
            <script src = "../scripts/jquery-3.7.1.min.js"></script>
            <script src="../json/literacy.json"></script>

        <script src="../scripts/literacyrate_AB_quiz.js"></script>
        <link rel = "stylesheet" href = "../css/Income quiz.css">
    </body>
</html>