<html>
<head>
<title>Practice Quiz</title>
</head>
<body onload="checkCookie()">
	<%- include ('navbar.ejs') %>
	
	<div class = "container" style = "margin-top: 50px;">
		<h1 style="margin-top: 60px;"> World Literacy Quiz</h1>
		<h3 style="margin-bottom: 60px;">Literacy Rate: the percentage of people who is over the age of 15 that can read and write</h3>

		<%- include ('question template.ejs', {data: 1}) %>

<h5>Source: The World Factbook by the CIA</h5>

<br>
		<div class = "button-container">
			<input style="margin-right: 16px" type = "submit" value = "Submit" id = "submit">
			<input type = "submit" value = "Restart" id = "restart">
		</div>

		<script src = "../scripts/jquery-3.7.1.min.js"></script>
		<script src="../json/literacy.json"></script>
		<script src="../scripts/literacy quiz.js"></script>
		<script src="../scripts/submit.js"></script>
		<script src="../scripts/cookie.js"></script>
		





	<link rel = "stylesheet" href = "../css/Literacy quiz.css">
	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dela+Gothic+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dela+Gothic+One&family=Wix+Madefor+Display:wght@400..800&display=swap" rel="stylesheet">	

</body>
</html>