<html>
<head>
    <title>Practice Quiz</title>
</head>
<body>
    <%- include ('navbar.ejs') %>

    <div class="container" style="margin-top: 60px;">
        <h1>World Malnutrition Quiz</h1>
		<h3 style="margin-bottom: 60px;">Malnutrition Rate: the annual number of deaths from protein energy mulnutrition per 100,000  people</h3>
    
        <div class="questions-container">
            <h2>Q1. What is the malnutrition rate for <span id="country1"></span>? </h2>
            </div>
            <div class="navigation">
                <div class="options">
                    <div class="option">
                        <input type = "radio" id = "1A" name = "Q1" value = "A">
                        <label class="radio" for="1A"></label><br>
                    
                        <input type = "radio" id = "1B" name = "Q1" value = "B">
                        <label class="radio" for="1B"></label><br>
                    
                        <input type = "radio" id = "1C" name = "Q1" value = "C">
                        <label class="radio" for="1C"></label><br>
                        
                        <input type = "radio" id = "1D" name = "Q1" value = "D">
                        <label class="radio" for="1D"></label><br>
                    </div>
                </div>
            </div>
        <br>

        <div class="questions-container">
            <h2>Q2. What is the malnutrition rate for <span id="country2"></span>? </h2>
            </div>
            <div class="navigation">
                <div class="options">
                    <div class="option">
                        <input type = "radio" id = "2A" name = "Q2" value = "A">
                        <label class="radio" for="2A"></label><br>
                    
                        <input type = "radio" id = "2B" name = "Q2" value = "B">
                        <label class="radio" for="2B"></label><br>
                    
                        <input type = "radio" id = "2C" name = "Q2" value = "C">
                        <label class="radio" for="2C"></label><br>
                        
                        <input type = "radio" id = "2D" name = "Q2" value = "D">
                        <label class="radio" for="2D"></label><br>
                    </div>
                </div>
            </div>
        <br>

        <div class="questions-container">
            <h2>Q3. What is the malnutrition rate for <span id="country3"></span>? </h2>
            </div>
            <div class="navigation">
                <div class="options">
                    <div class="option">
                        <input type = "radio" id = "3A" name = "Q3" value = "A">
                        <label class="radio" for="3A"></label><br>
                    
                        <input type = "radio" id = "3B" name = "Q3" value = "B">
                        <label class="radio" for="3B"></label><br>
                    
                        <input type = "radio" id = "3C" name = "Q3" value = "C">
                        <label class="radio" for="3C"></label><br>
                        
                        <input type = "radio" id = "3D" name = "Q3" value = "D">
                        <label class="radio" for="3D"></label><br>
                    </div>
                </div>
            </div>
        <br>

        <div class="questions-container">
            <h2>Q4. What is the malnutrition rate for <span id="country4"></span>? </h2>
            </div>
            <div class="navigation">
                <div class="options">
                    <div class="option">
                        <input type = "radio" id = "4A" name = "Q4" value = "A">
                        <label class="radio" for="4A"></label><br>
                    
                        <input type = "radio" id = "4B" name = "Q4" value = "B">
                        <label class="radio" for="4B"></label><br>
                    
                        <input type = "radio" id = "4C" name = "Q4" value = "C">
                        <label class="radio" for="4C"></label><br>
                        
                        <input type = "radio" id = "4D" name = "Q4" value = "D">
                        <label class="radio" for="4D"></label><br>
                    </div>
                </div>
            </div>
        <br>

        <div class="questions-container">
            <h2>Q5. What is the malnutrition rate for <span id="country5"></span>? </h2>
            </div>
            <div class="navigation">
                <div class="options">
                    <div class="option">
                        <input type = "radio" id = "5A" name = "Q5" value = "A">
                        <label class="radio" for="5A"></label><br>
                    
                        <input type = "radio" id = "5B" name = "Q5" value = "B">
                        <label class="radio" for="5B"></label><br>
                    
                        <input type = "radio" id = "5C" name = "Q5" value = "C">
                        <label class="radio" for="5C"></label><br>
                        
                        <input type = "radio" id = "5D" name = "Q5" value = "D">
                        <label class="radio" for="5D"></label><br>
                    </div>
                </div>
            </div>
        <br>

        <div class="questions-container">
            <h2>Q6. What is the malnutrition rate for <span id="country6"></span>? </h2>
            </div>
            <div class="navigation">
                <div class="options">
                    <div class="option">
                        <input type = "radio" id = "6A" name = "Q6" value = "A">
                        <label class="radio" for="6A"></label><br>
                    
                        <input type = "radio" id = "6B" name = "Q6" value = "B">
                        <label class="radio" for="6B"></label><br>
                    
                        <input type = "radio" id = "6C" name = "Q6" value = "C">
                        <label class="radio" for="6C"></label><br>
                        
                        <input type = "radio" id = "6D" name = "Q6" value = "D">
                        <label class="radio" for="6D"></label><br>
                    </div>
                </div>
            </div>
        <br>

        <div class="questions-container">
            <h2>Q7. What is the malnutrition rate for <span id="country7"></span>? </h2>
            </div>
            <div class="navigation">
                <div class="options">
                    <div class="option">
                        <input type = "radio" id = "7A" name = "Q7" value = "A">
                        <label class="radio" for="7A"></label><br>
                    
                        <input type = "radio" id = "7B" name = "Q7" value = "B">
                        <label class="radio" for="7B"></label><br>
                    
                        <input type = "radio" id = "7C" name = "Q7" value = "C">
                        <label class="radio" for="7C"></label><br>
                        
                        <input type = "radio" id = "7D" name = "Q7" value = "D">
                        <label class="radio" for="7D"></label><br>
                    </div>
                </div>
            </div>
        <br>

        <div class="questions-container">
            <h2>Q8. What is the malnutrition rate for <span id="country8"></span>? </h2>
            </div>
            <div class="navigation">
                <div class="options">
                    <div class="option">
                        <input type = "radio" id = "8A" name = "Q8" value = "A">
                        <label class="radio" for="8A"></label><br>
                    
                        <input type = "radio" id = "8B" name = "Q8" value = "B">
                        <label class="radio" for="8B"></label><br>
                    
                        <input type = "radio" id = "8C" name = "Q8" value = "C">
                        <label class="radio" for="8C"></label><br>
                        
                        <input type = "radio" id = "8D" name = "Q8" value = "D">
                        <label class="radio" for="8D"></label><br>
                    </div>
                </div>
            </div>
        <br>

        <div class="questions-container">
            <h2>Q9. What is the malnutrition rate for <span id="country9"></span>? </h2>
            </div>
            <div class="navigation">
                <div class="options">
                    <div class="option">
                        <input type = "radio" id = "9A" name = "Q9" value = "A">
                        <label class="radio" for="9A"></label><br>
                    
                        <input type = "radio" id = "9B" name = "Q9" value = "B">
                        <label class="radio" for="9B"></label><br>
                    
                        <input type = "radio" id = "9C" name = "Q9" value = "C">
                        <label class="radio" for="9C"></label><br>
                        
                        <input type = "radio" id = "9D" name = "Q9" value = "D">
                        <label class="radio" for="9D"></label><br>
                    </div>
                </div>
            </div>
        <br>

        <div class="questions-container">
            <h2>Q10. What is the malnutrition rate for <span id="country10"></span>? </h2>
            </div>
            <div class="navigation">
                <div class="options">
                    <div class="option">
                        <input type = "radio" id = "10A" name = "Q10" value = "A">
                        <label class="radio" for="10A"></label><br>
                    
                        <input type = "radio" id = "10B" name = "Q10" value = "B">
                        <label class="radio" for="10B"></label><br>
                    
                        <input type = "radio" id = "10C" name = "Q10" value = "C">
                        <label class="radio" for="10C"></label><br>
                        
                        <input type = "radio" id = "10D" name = "Q10" value = "D">
                        <label class="radio" for="10D"></label><br>
                    </div>
                </div>
            </div>
        <br>
		
<h5>Source: The World Factbook by the CIA</h5>

<br>

        <div class="button-container">
            <input style="margin-right: 16px" type = "submit" value = "Submit" id = "submit">
            <input type = "submit" value = "Restart" id = "restart">
        </div>
	

        <script src = "../scripts/jquery-3.7.1.min.js"></script>
        <script src="../json/malnutrition.json"></script>
        <script src="../scripts/malnutrition.js"></script>

    <link rel = "stylesheet" href = "../css/Income quiz.css">
</body>
</html>
