<html>
<head>
<title>Practice Quiz</title>
<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
</head>
<body onload="checkCookie()">
	<%- include ('navbar.ejs') %>
	
	<div class="container">
		<h1 style="margin-top: 60px;">Mortality Rate Quiz</h1>
		
		<h3 style="margin-bottom: 60px;">Infant Mortality Rate: the number of deaths of infants under one year old in a given year per 1,000 live births in the same year</h3>
		
		<%- include ('question template.ejs', {data: 2}) %>
	
<br>

<h5>Source: The World Factbook by the CIA<br>This data is from 2024</h5>

	<div class="button-container">
		<input style="margin-right: 16px" type = "submit" value = "Submit" id = "submit">
		<input type = "submit" value = "Restart" id = "restart">
	</div>
	</div>
<script src = "../scripts/jquery-3.7.1.min.js"></script>
<script src="../json/mortality rate.json"></script>
<script src="../scripts/mortality rate.js"></script>
<script src="../scripts/quiz.js"></script>
<script src="../scripts/submit.js"></script>
<script src="../scripts/cookie.js"></script>




<link rel = "stylesheet" href = "../css/quiz.css">
</body>
</html>