<!DOCTYPE html>
<html>
<head>
  <title>My List</title>
</head>
<body>
  <div class="navbar">
        <div style="float:right; margin-right: 210px;">
            <div class="dropdown">
                <button class="dropbtn" style="color: rgb(31, 43, 73);">Quizzes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="income quiz.html">Income Quiz</a>
                    <a href="literacy quiz.html">Literacy Quiz</a>
                    <a href="mortality rate quiz.html">Infant Mortality Quiz</a>
                    <a href="Water.html">Clean Drinking Water Quiz</a>
                    <a href="malnutrition quiz.html">Malnutrition Quiz</a>
                    <a href="#">Mixed Quiz</a>
                </div>
            </div>
        </div>
      
    </div>
</body>
</html>