<body>
  <div class="navbar">
        <div style="float:right; margin-right: 210px;">
            <div class="dropdown">
                <button class="dropbtn" style="color: rgb(31, 43, 73);">Quizzes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="income quiz">Income Quiz</a>
                    <a href="literacy quiz">Literacy Quiz</a>
                    <a href="mortality rate quiz">Infant Mortality Quiz</a>
                    <a href="Water">Clean Drinking Water Quiz</a>
                    <a href="malnutrition quiz">Malnutrition Quiz</a>
					<a href="literacyrate_AB_quiz">Simple Literacy Quiz</a>
                    <a href="#">Mixed Quiz</a>
                </div>
            </div>
        </div>
      
    </div>
</body>