<body>
  <div class="navbar">
        <div style="float:right; margin-right: 210px;">
		
		<div class="dropdown">
			<div class="dropdown">
                <button onclick="location.href='/views/homepage'" class="dropbtn" style="color: rgb(255,255,255);">Home
                    <i class="fa fa-caret-down"></i>
                </button>
					

            </div>
		</div>	
		
		<div class="dropdown">
			<div class="dropdown">
                <button onclick="location.href='/views/about'" class="dropbtn" style="color: rgb(255,255,255);">About
                    <i class="fa fa-caret-down"></i>
                </button>
					

            </div>
		</div>	
			
            <div class="dropdown">
                <button class="dropbtn" style="color: rgb(255,255,255);">Harder Quizzes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/views/income quiz">Income Quiz</a>
                    <a href="/views/literacy quiz">Literacy Quiz</a>
                    <a href="/views/mortality rate quiz">Infant Mortality Quiz</a>
                    <a href="/views/Water">Clean Drinking Water Quiz</a>
                    <a href="/views/malnutrition quiz">Malnutrition Quiz</a>
                </div>
            </div>
			
			<div class="dropdown">
                <button class="dropbtn" style="color: rgb(255,255,255);">Easier Quizzes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
					<a href="/views/literacyrate ab quiz">Simple Literacy Quiz</a>
					<a href="/views/mortalityrate_AB_quiz">Infant Mortality Quiz</a>
                    <a href="/views/water_AB_quiz">Clean Drinking Water Quiz</a>
                    <a href="/views/malnutrition_AB_quiz">Malnutrition Quiz</a>
                </div>
            </div>
			
        </div>
      
    </div>
</body>