<html>
<head>
<title>Practice Quiz</title>
<link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
</head>
<body onload="checkCookie()">
	<%- include ('navbar.ejs') %>
	
	<div class="container" style="margin-top: 60px;">
		<h1 style="margin-top: 60px;">Water Quiz</h1>
		

		<%- include ('question template.ejs', {data: 3}) %>

<h5>Source: Our World in Data</h5>

<br>

	<div class="button-container">
		<input style="margin-right: 16px" type = "submit" value = "Submit" id = "submit">
		<input type = "submit" value = "Restart" id = "restart">
	</div>
	</div>

	<script src = "../scripts/jquery-3.7.1.min.js"></script>
	<script src="../json/water.json"></script>
	<script src="../scripts/water.js"></script>
	<script src="../scripts/submit.js"></script>
	<script src="../scripts/cookie.js"></script>




<link rel = "stylesheet" href = "../css/Income quiz.css">
</body>
</html>